.type{
    left: 40%;
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   font-size: 30px;
   color: antiquewhite;
   font-family: 'Signika Negative', sans-serif;
    
}
.logo{
left: 40%;
    position: absolute;
    top: 45%;
    transform: translate(0,-55%);
    font-size: 70px;
    color: antiquewhite;
    font-family: 'Signika Negative', sans-serif;

}
body{
    background: rgb(203,108,230);
    background: linear-gradient(to right,rgba(130, 115, 151,1) 0%, rgba(rgb(233, 213, 218),1) 100%);
    object-fit:contain;
}