.type{
    display: flex;
        justify-content: center;
        align-items: center;
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   font-size: 30px;
   color: antiquewhite;
   font-family: 'Signika Negative', sans-serif;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    transform: translate(0,-55%);
    font-size: 70px;
    color: antiquewhite;
    font-family: 'Signika Negative', sans-serif;

}
body{
    background: rgb(203,108,230);
    background: linear-gradient(to right,rgba(203,108,230,1) 0%, rgba(240,210,234,1) 100%);
    object-fit:contain;
}