.type{
    left: 50%;
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   font-size: 30px;
   color: antiquewhite;
    
}
body{
    height: 100px;s
    width: 100%;
    background: rgb(203,108,230);
    background: linear-gradient(to top bottom, rgba(203,108,230) 50%, rgba(40,210,234) 100%);
    object-fit:contain;
}